<link rel="stylesheet" href="css/custom.css">
<link rel="stylesheet" href="css/responsive.css">
<ion-view title={{page}}>
<ion-nav-buttons side="right">
        <button class="button button-clear " ng-click="isCollapsed = !isCollapsed"><i class="icon ion-android-search custom-search"></i></button>
        <hr>
   </ion-nav-buttons>
  <ion-content lazy-scroll class="has-header" ng-controller="ListTaskCtrl">
  <div collapse="isCollapsed">
           <label class="item item-input">
                  <input class="custom-search" type="search" placeholder="Search" ng-model="search" class="custom-search">
          </label>
   </div>
  
<div ng-controller="ListTaskCtrl" set-ng-animate="false">
  <div class="slider-container" >
    <carousel interval="5000">
      <slide ng-repeat="slide in banner" active="slide.active">
        <img ng-src="{{slide.image}}" style="margin:auto;">
        <div class="carousel-caption">
              <p class="carousel-custom-caption">{{slide.image_text}}</p>
        </div>
      </slide>
    </carousel>
  </div>
</div>

     <h2 class="details-heading">{{details}}</h2>
    <div class="location_edit" ng-controller="LoadPage">
      <button class="button button-clear ">
          <i class="icon-left ion-location"></i>
            All Nepal
      </button>
      <button class="button button-clear button-assertive" style="float: right;" ng-click=" reloadPageWithLocation()" >
          Edit
      </button>
    </div>
  <ion-list ng-controller="LoadPage">
      <ion-item  ng-repeat="item in data"  >
        <!-- <a class="item item-icon-right" href="#/app/homePage/{{item.id}}"> -->
        <a class="item item-icon-right" ng-click="LoadThirdPage({{item}})">
       <img class="lazy" image-lazy-src="{{item.image}}" height="200" width="100" >
       
       <i class="icon ion-chevron-right"></i>
      </a>
      <p class="rudra">{{item.name}}</p>
      </ion-item>
   </ion-list>
  </ion-content>
</ion-view>

