.selection-and-way-btn-container {
  text-align: center;
  margin-top: -115px;
 }

 label.btn.btn-primary.custom-btn {
  background: #B27A11;
  border-radius: 0px;
  border: 1px;
  color: #FFFFFF;
  margin: -2px;
  line-height: 2;
  height: 36px;
  /* border: 1px solid#B27A11; */
}

label.btn.btn-primary.custom-btn:hover{
  background-color: transparent;
  border: 1px solid #B27A11;
}

.booking-container {
  padding: 10px;
  margin-top: 83px;
  background-color: #EDEDEE;
}

.booking-container {
  padding: 0px;
  margin-top: 43px;
  background-color: #EDEDEE;
}

.col-md-6.part {
  width: 100%;
}

.custom-row.row {
  margin-left: 0px;
}

.departtime {
  background-color: #FFFFFF;
  width: 100%;
  padding: 6px;
  border-right: 1px solid#EDEDEE;
}

.arrivaltime {
  width: 100%;
  background-color: #FFFFFF;
  padding: 6px;
}

.second-block {
  background-color: #FFF;
  padding: 6px;
  border-right: 1px solid#EDEDEE;
  margin-top: -9px;
}

.second-block-1 {
  background-color: #FFFFFF;
  padding: 6px;
  margin-top: -9px;
}

.col-md-12.part {
  width: 100%;
}

.calculate-price-container {
  width: 100%;
  background-color: #FFFFFF;
  padding: 6px;
  border-top: 1px solid#EDEDEE;
  margin-top: 10px;
}

h4.departtime-heading {
  padding-left: 16px;
  padding-right: 16px;
  font-size: 14px;
  color: #C9C8C8;
  font-weight: normal;
}

select.custom-select.ng-pristine.ng-valid {
  margin: 8px;
  width: 113px;
  border-radius: 0px;
}

select {
  margin-right: 168px;
  background: transparent;
  margin: 8px;
  font-weight: bold;
  padding: 5px;
  font-size: 16px;
  line-height: 1;
  border: 0;
  border-radius: 0;
  height: 34px;
  -webkit-appearance: none;
  width: 240px;
  height: 30px;
  overflow: hidden;
  background: url('../images/new-arrow.png') no-repeat right;
  color: 
}

pre.custom-counter.ng-binding {
  margin: 9px;
  width: 100%;
  height: 28px;
  padding: 4px;
  border-radius: 0px;
}

button.count-plus {
  margin-top: 8px;
  margin-left: 14px;
  width: 32px;
  height: 29px;
  border: 1px;
}

button.count-minus {
  margin-top: 8px;
  width: 32px;
  height: 29px;
  border: 1px;
}

input[type="text"] {
  height: 40px;
  width: 90%;
  border-radius: 0px;
  background-color: transparent;
  border-color: transparent;
}

button.button.button-icon.ion-chevron-down {
  padding-top: 13px;
}


.btn { 
  text-shadow: none;
  vertical-align: middle;
  cursor: pointer;
  background-color: #f5f5f5;
  background-image: none;
  background-image: none;
  background-image: none;
  background-image: none;
  background-image: none;
  background-repeat: no-repeat;
  border: none;
  border-color: none;
  border-color: none;
  border-bottom-color: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 0px;
}

button.custom-calculate-btn.btn {
  background-color: #696C77;
  border-radius: 0px;
  color: #FFFFFF;
  padding: 9px;
  margin-left: 12px;
  width: 21%;
  font-size: 19px;
}

span.header-caption.ng-binding {
  padding: 11px;
  color: #BEBEBE;
}

span.footer-caption.ng-binding {
  padding: 9px;
  padding-top: 16px;
  color: #BEBEBE;
}

.send-enquiry-btn {
    background-color: #9D2428;
    width: 50%;
    border-radius: 0px;
    color: #FFF;
    line-height: 35px;
}

.send-enquiry-btn:hover{
  background-color:#7D1519;
  color:#FFFFFF;
}

.cancel-btn {
    background-color: #9D2428;
    width: 50%;
    border-radius: 0px;
    color: #FFF;
    line-height: 35px;
    margin-left: -4px;
}

.cancel-btn:hover {
  background-color:#7D1519;
  color:#FFFFFF;
}

select.car-from.ng-pristine.ng-valid {
  margin-right: 168px;
  background: transparent;
  width: 268px;
  padding: 5px;
  font-size: 16px;
  line-height: 1;
  border: 0;
  border-radius: 0;
  height: 34px;
  -webkit-appearance: none;
  width: 240px;
  height: 34px;
  overflow: hidden;
  background: url('../images/new-arrow.png') no-repeat right;
  color: #FFFFFF;
}

